@import './custom-style/variables';

// reset autofill form color
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-transition-delay: 9999999s;
}

button {
  box-shadow: none;
  -webkit-box-shadow: none;
}

a {
  color: $corporate-affairs;
  text-decoration: none;
}

a.link-light {
  color: white;
  opacity: 0.8;
  &:hover {
    opacity: 1;
    text-decoration: underline;
  }
}

.w-fit-content {
  width: fit-content;
}

// text

.text-lowercase {
  text-transform: lowercase;
}

// colors

.border-primary {
  border-color: $lucid-blue !important;
}

.bg-primary {
  background-color: $lucid-blue;
}

.bg-secondary {
  background-color: $shark;
}

.bg-cinder-light {
  background-color: $cinder-light !important;
}

.bg-cinder {
  background-color: $cinder !important;
}

// sizing
.min-vh-100 {
  min-height: 100vh;
}

.hover-scale-up {
  transition: all ease-in-out 0.3s;
  &:hover {
    transform: scale(1.2);
    transition: all ease-in-out 0.3s;
  }
}

// buttons
.btn-success {
  background-color: $tea-garden !important;
  color: $baby-powder !important;
  &:hover {
    background-color: darken($tea-garden, 10%) !important;
  }
}

.dropzoneBorder {
  transition: all ease-in-out 0.3s;
  &:hover {
    border: 2px solid $baby-powder !important;
    transition: all ease-in-out 0.3s;
    color: $baby-powder
  }
}

// connections

.connectionAvatarHover {
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
    z-index: 10;
    transition: all ease-in-out 0.3s;
  }
}

// show on hover

.showOverlayOnHover {
  opacity: 0;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  &:hover {
    opacity: 1;
    transition: all ease-in-out 0.2s;
  }
}

// toolboxHover

.toolbox {
  min-height: 50px;
  cursor: pointer;
  border: 1px dashed #fff;
  opacity: 0;
  top: 0;
  left: 0;
  &:hover {
    opacity: 1;
  }
}

// material ui overrides

// radio button:checked color
.MuiRadio-colorSecondary.Mui-checked {
  color: $baby-powder !important;
}

.MuiDialog-scrollPaper {
  .MuiDialog-paperScrollPaper:first-child {
    background-color: $shark;
  }
}

.dropzone-area {
  margin-bottom: 2rem 0.5rem;
  background-color: $shark !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 1rem;
  &:hover {
    border-style: solid;
  }
  div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.dropzone-text {
  font-size: 1rem !important;
  order: 1;
}

.d-none {
  display: none !important;
}
